<style>
    button {
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
</style>

<h2>Application to Turn Light ON/OFF </h2>

<h4>Light Object Coming from Database</h4> 

<%= light %>

<br> <br>
<h3> Light is ON ? <%= light[0].ON %> </h3>
<form action = "/light" method= "post">

    <button>
    <% if(light[0].ON){ %>
        <%= "TURN OFF" %>
    <% }else{ %>
        <%=" TURN ON" %>
    <% } %>

    </button>

</form>
    